/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: rgb(98, 105, 245);
$primary-font: 'Gayathri', sans-serif;

body {
  background-color: $primary-background;
  font-family: $primary-font;
  margin: 0;
}

// .main-container {
//   display: flex;
// }

header {
  display: inline-flex;
  // background-image: url('../images/floral-bg.png');
  background-size: cover;
  // margin: auto;
  margin: 50px 0 0 50px;
  width: 100%;
}

.header-title {
  color: white;
  font-size: 3em;
}

.login-area {
  border: 1px solid white;
  display: flex;
  padding: 20px;
  margin: auto;
  width: fit-content;
}

.login {
  display: flex;
  flex-direction: column;
}

.login-text-boxes {
  padding: 5px 10px 5px 10px;
  font-size: 1.5em;
}

.hidden {
  visibility: hidden;
}

.password-error, .username-error {
  background: white;
  color: red;
  width: fit-content;
}



.login-button {
  background: $primary-background;
  font-family: $primary-font;
  border: 3px solid white;
  margin-top: 10px;
  padding-top: 10px;
  height: 50px;
  font-size: 1.5em;
}