/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;

body {
  background-color: $primary-background;
}

.login {
  display: flex;
  flex-direction: column;
}

.login-text-boxes {
  width: 20%;
}

.hidden {
  visibility: hidden;
}

.password-error, .username-error {
  color: red;
}

.login-button {
  width: 21%;
  margin-top: 10px;
}